/* Default Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: "Roboto", Verdana, sans-serif;
}

p {
    font-family: "Nunito", Verdana, sans-serif;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    background-color: var(--background-color);
}

:root {
    /* Timeline */
    --timeline-spacing: 6rem;

    /* Colors */
    --font-color-light: #d1d5db;
    --font-color-dark: #94a3b8;
    --background-color: #0f172a;
    --secondary-background-color: #121e30;
    --accent-color: #67e8f9;
    --secondary-accent-color: #99f6e4;
}
/* End of Default Styles */

/* Container */
.container {
    width: 100%;
    height: 100%;
    background-color: var(--background-color);
    overflow: hidden;
}

/* Navigation */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 12rem;
    padding: 0 15rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    
}

/* Logo */
/* TODO: MAKE LOGO */
.logo {
    color: var(--background-color);
    font-size: 5rem;
}
/* End of Logo */

/* Nav Items */
.nav-items {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}

.nav-item {
    list-style: none;
}

.nav-link {
    font-size: 2rem;
    color: var(--background-color);
}
/* End of Nav Items */
/* End of Navigation */

/* Header */
header {
    width: 100%;
    height: 100vh;
    position: relative;
}

/* Backgrounds */
.backgrounds div {
    position: absolute;
}

.bg-main {
    width: 150%;
    height: 150%;
    background: linear-gradient(to left, transparent, var(--accent-color), var(--secondary-accent-color));
    top: -90%;
    transform: rotateZ(-15deg) skewX(30deg);
    border-radius: 50%;
    box-shadow: 0 2rem 6rem rgba(130, 162, 235, 0.3);
}
/* End of Backgrounds */

/* Banner */
.banner {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 3rem;
}

.banner-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(0.625rem);
    -webkit-backdrop-filter: blur(0.625rem);
    border-radius: 1rem;
    border: 0.063rem solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 0.5rem 2rem 0 rgba(0, 0, 0, 0.37);
    z-index: -1;
}

.banner img {
    border-radius: 50%;
    width: 35rem; 
    height: 35rem;
    display: block;
    margin: auto;
}

.banner h1 {
    font-size: 7rem;
    color: var(--font-color-dark);
    text-align: center;
    letter-spacing: 0.1rem;
}

.banner a {
    font-size: 2rem;
    color: var(--font-color-dark);
    background-color: transparent;
}

.banner a:hover {
    color: var(--font-color-light);
}

/* Social Links */
.social-links {
    text-align: center;
}

.social-links a {
    font-size: 3rem;
}

/*Email Button*/
.email:hover .fa-envelope,
.email .fa-envelope-open {
    display: none;
}

.email:hover .fa-envelope-open {
    display: inline;
}
/*End of Email Button*/
/* End of Social Links */
/*End of Banner */
/* End of Header */

.section-title {
    font-size: 3rem;
    color: var(--accent-color);
    text-align: center;
}

.section-underline {
    width: 6rem;
    height: 0.5rem;
    background-color: var(--accent-color);
    margin: 1.5rem auto 3rem;
    border-radius: 1rem;
}

/* Experience */
#experience, #projects {
    scroll-margin-top: 16rem;
}

#experience {
    width: 100%;
    height: auto;
}

/* Timeline */
.timeline {
    margin: 2.5rem auto;
    display: grid;
    grid-template-columns: 1fr 0 1fr;
    position: relative;
}

/* Center Line */
.timeline::after {
    content: '';
    position: absolute;
    width: 1rem;
    background-color: var(--secondary-background-color);
    box-shadow: 0 0.5rem 2rem 0 rgba(0, 0, 0, 0.37);
    border-radius: 1rem;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
/* End of Center Line */

/* Timeline Point */
.job::before {
    content: '';
    position: absolute;
    width: 2.5rem;
    height: 2.5rem;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--secondary-background-color);
    border: 0.5rem solid var(--accent-color);
    border-radius: 50%;
    transition: width 0.3s, height 0.3s;
}

.timeline-left::before {
    left: calc(100% + var(--timeline-spacing));
}

.timeline-right::before {
    left: calc(-1 * var(--timeline-spacing));
}

.job:hover::before {
    width: 3.5rem;
    height: 3.5rem;
}
/* End of Timeline Point */

.timeline-date {
    align-self: center;
    font-size: 2rem;
    color: var(--font-color-light);
}

.timeline-date-left {
    text-align: right;
    margin-right: var(--timeline-spacing);
}

.timeline-date-right {
    margin-left: var(--timeline-spacing);
}

.job {
    width: 70%;
    height: auto;
    background-color: var(--secondary-background-color);
    box-shadow: 0 0.5rem 2rem 0 rgba(0, 0, 0, 0.37);
    padding: 3rem;
    border-radius: 1rem;
    margin: 1rem 0;
    position: relative;
    z-index: 1;
}

.timeline-left {
    justify-self: end;
    margin-right: var(--timeline-spacing);
}

.timeline-right {
    margin-left: var(--timeline-spacing);
}

/* Timeline Triangles */
.timeline-left::after {
    content: '';
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translateY(-50%);
    border-top: 2rem solid transparent;
    border-left: 2rem solid var(--secondary-background-color);
    border-right: 2rem solid transparent;
    border-bottom: 2rem solid transparent;
}

.timeline-right::after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(-100%, -50%);
    border-top: 2rem solid transparent;
    border-left: 2rem solid transparent;
    border-right: 2rem solid var(--secondary-background-color);
    border-bottom: 2rem solid transparent;
}
/* End of Timeline Triangles */

.role {
    font-size: 4rem;
    margin-bottom: 1rem;
    color: var(--font-color-dark);
}

.company {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: var(--font-color-dark);
}

.description {
    font-size: 1.5rem;
    color: var(--font-color-light);
}

.technical-skills {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2rem;
}

.skill {
    list-style: none;
    background: linear-gradient(135deg, var(--accent-color), var(--secondary-accent-color));
    box-shadow: 0 0 2rem rgba(130, 162, 235, 0.3);
    border-radius: 2rem;
    padding: 1rem;
    font-size: 1.5rem;
    color: var(--background-color);
}

@media screen and (max-width: 640px) {
    .timeline {
        display: block;
    }

    /* Center Line */
    .timeline::after {
        left: 3rem;
    }
    /* End of Center Line */

    /* Timeline Point */
    .job::before {
        left: calc(-1 * var(--timeline-spacing));
    }
    /* End of Timeline Point */

    .timeline-date {
        display: none;
        opacity: 0;
    }

    /* Timeline Triangles */
    .timeline-left::after {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate(-100%, -50%);
        border-top: 2rem solid transparent;
        border-left: 2rem solid transparent;
        border-right: 2rem solid var(--secondary-background-color);
        border-bottom: 2rem solid transparent;  
    }
    /* End of Timeline Triangles */

    .job {
        margin: 1rem calc(3rem + var(--timeline-spacing));
    }

    /* Update Dates */
    .timeline-content::before {
        font-size: 2rem;
        color: var(--font-color-light);
    }
    
    .agco-info::before {
        content: 'May 2024 - Present';
    }

    .arion-info::before {
        content: 'May 2022 - Present';
    }

    .chilis-info::before {
        content: 'June 2022 - April 2024';
    }
    /* End of Update Dates */
}
/* End of Timeline */
/* End of Experience */
/* End of Container */
